/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
//* Base
//   * ,-----------------------------------------.             ,-----------------------------------------.
//   * |  C+z |   ;  |   [  |   (  |   <  |   {  |             |      |      |      |      |      |      |
//   * |------+------+------+------+------+------|             |------+------+------+------+------+------|
//   * | KANA |   P  |   K  |   R  |   A  |   F  |             |      |      |      |      |      |      |
//   * |------+------+------+------+------+------|             |------+------+------+------+------+------|
//   * |  BS  |   D  |   T  |   H  |   E  |   O  |             |      |      |      |      |      |      |
//   * |------+------+------+------+------+------+------+------+------+------+------+------+------+------|
//   * | Shift|   Y  |   S  |   N  |   I  |   U  |Space |      |      |      |      |      |      |      |
//   * |------+------+------+------+------+------+------+------+------+------+------+------+------+------|
//   * | Ctrl | Alt  | Gui  | Sym  | Num  | OPT  | Ent  |      |      |      |      |      |      |      |
//   * `-------------------------------------------------------------------------------------------------'

            bindings = <
&kp LC(Z)         &kp SEMI  &kp LBKT  &kp LPAR  &kp LT  &kp LBRC                          &kp N6     &kp N7     &kp N8     &kp N9      &kp N0     &kp DEL
&kp LANG2         &kp P     &kp K     &kp R     &kp A   &kp F                             &kp Y      &kp U      &kp I      &kp O       &kp P      &kp BSPC
&kp BSPC          &kp D     &kp T     &kp H     &kp E   &kp O                             &kp H      &kp J      &kp K      &kp L       &kp SEMI   &kp SQT
&kp LEFT_SHIFT    &kp Y     &kp S     &kp N     &kp I   &kp U     &kp SPACE    &kp RBKT   &kp N      &kp M      &kp COMMA  &kp PERIOD  &kp SLASH  &kp RET
&kp LEFT_CONTROL  &kp LALT  &kp LGUI  &mo 3     &mo 2   &mo 1     &kp RET      &kp SPACE  &mo RAISE  &kp LANG1  &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT
            >;
        };

        lower_layer {
  //* Opt
// * ,-----------------------------------------.             ,-----------------------------------------.
// * |  Esc |  :   |  ]   |  )   |  >   |  }   |             |      |      |      |      |      |      |
// * |------+------+------+------+------+------|             |------+------+------+------+------+------|
// * |  EISU|   J  |   M  |   B  |   '  |  Tab |             |      |      |      |      |      |      |
// * |------+------+------+------+------+------|             |------+------+------+------+------+------|
// * |   .  |   V  |   C  |   L  |   Z  |  Q   |             |      |      |      |      |      |      |
// * |------+------+------+------+------+------+------+------+------+------+------+------+------+------|
// * |      |   X  |   G  |   W  |   -  |  Del | Esc  |      |      |      |      |      |      |      |
// * |------+------+------+------+------+------+------+------+------+------+------+------+------+------|
// * |      |      |      |   ,  | DTOP |      |      |      |      |      |      |      |      |      |
// * `-------------------------------------------------------------------------------------------------'         

            bindings = <
&kp ESC    &kp COLON  &kp RBKT  &kp RPAR  &kp GT     &kp RBRC                     &trans     &trans     &trans     &trans    &trans    &trans
&kp LANG1  &kp J      &kp M     &kp B     &kp SQT    &kp TAB                      &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &trans
&kp DOT    &kp V      &kp C     &kp L     &kp Z      &kp Q                        &trans     &kp UNDER  &kp PLUS   &kp LBRC  &kp RBRC  &kp PIPE
&trans     &kp X      &kp G     &kp W     &kp MINUS  &kp DEL   &kp ESC    &trans  &trans     &kp HOME   &kp END    &trans    &trans    &trans
&trans     &trans     &trans    &trans    &trans     &trans    &trans     &trans  &trans     &trans     &trans     &trans
            >;
        };

        raise_layer {
       
//* Func
// * ,-----------------------------------------.             ,-----------------------------------------.
// * |RGBRST|  Hue |      |  RST |  Mac |  Win |             |      |      |      |      |      |      |
// * |------+------+------+------+------+------|             |------+------+------+------+------+------|
// * | RGB1 | VAL+ |  F7  |  F8  |  F9  |      |             |      |      |      |      |      |      |
// * |------+------+------+------+------+------|             |------+------+------+------+------+------|
// * | RGB2 | VAL- |  F4  |  F5  |  F6  | F12  |             |      |      |      |      |      |      |
// * |------+------+------+------+------+------+------+------+------+------+------+------+------+------|
// * | RGB3 |  F10 |  F1  |  F2  |  F3  | F11  |      |      |      |      |      |      |      |      |
// * |------+------+------+------+------+------+------+------+------+------+------+------+------+------|
// * |RGBOFF|      |      |      |      |      |      |      |      |      |      |      |      |      |
// * `-------------------------------------------------------------------------------------------------'

            bindings = <
&trans          &trans        &trans        &kp HOME      &kp END       &trans                            &trans   &trans     &trans      &trans        &trans        &trans
&kp GRAVE       &kp ASTERISK  &kp N7        &kp N8        &kp N9        &kp MINUS                         &kp N6   &kp N7     &kp N8      &kp N9        &kp N0        &kp DEL
&trans          &kp SLASH     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS                          &kp F6   &kp MINUS  &kp EQUAL   &kp LBKT      &kp RBKT      &kp BSLH
&kp KP_NUMLOCK  &kp N0        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LS(LC(F1))  &trans    &trans  &kp F12  &trans     &kp PSCRN   &kp PG_DN     &kp PG_UP     &trans
&trans          &trans        &kp N0        &kp COMMA     &kp PERIOD    &trans          &trans    &trans  &trans   &trans     &kp C_NEXT  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP
            >;
        };

        adjust_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |    `     |    !     |    @     |    #     |    $     |    %     |                                          |    ^     |    &     |    *     |    (     |    )     |  EP TOG  |
            // |  BT CLR  | BT SEL0  | BT SEL1  | BT SEL2  | BGT SEL3 | BT SEL4  |                                          | RGB EFF+ | RGB HUE+ | RGB SAT+ | RGB SPD+ | RGB BRI+ | RGB TOG  |
            // |  BT NXT  | OUT TOG  | OUT USB  | OUT BLE  |          |          |                                          | RGB EFF- | RGB HUE- | RGB SAT- | RGB SPD- | RGB BRI- |          |
            // |  BT PRV  |          |          |          |          |          |    {     |                    |    }     |          |          |          |          |          |          |
            // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |

            bindings = <
&kp INSERT  &kp EXCL              &trans           &kp PAGE_UP      &kp PG_DN        &kp CARET                            &kp CARET        &kp AMPS         &kp ASTRK        &kp LPAR         &kp RPAR         &ext_power EP_TOG
&trans      &kp NON_US_BACKSLASH  &kp HASH         &kp EQUAL        &kp QUESTION     &kp PERCENT                          &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG
&bt BT_NXT  &out OUT_TOG          &kp UP_ARROW     &kp AT_SIGN      &kp EXCLAMATION  &kp PIPE                             &rgb_ug RGB_EFR  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_SPD  &rgb_ug RGB_BRD  &trans
&kp CAPS    &kp LEFT_ARROW        &kp DOWN_ARROW   &kp RIGHT_ARROW  &kp UNDERSCORE   &kp AMPERSAND  &kp LBRC    &kp RBRC  &trans           &trans           &trans           &trans           &trans           &trans
&trans      &trans                &kp PRINTSCREEN  &trans           &kp TILDE        &trans         &trans      &trans    &trans           &trans           &trans           &trans           &trans           &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &kp F10  &kp F11  &kp F12  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F7   &kp F8   &kp F9   &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F4   &kp F5   &kp F6   &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F1   &kp F2   &kp F3   &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans   &trans   &trans   &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
